.room{
    height: 60px;
    width: 70px;

    border-radius: 10px;
    background-color: #EBECEE;
    color: black;
    text-align: center;
    font-family: sans-serif;
    line-height:60px;

}
.roomsCol{
    padding-bottom: 20px;
    padding-right: 5px;
}
.rooms{
    min-height: 500px;
}
.label{
    font-size: 20px
}
.bookingBox{
    min-width: 650px;
    background-color: #EBECEE;
}
.subtitle{
    color: black;
}


/*.yes{*/
    /*background-color: darkgrey;*/
/*}*/
/*.no{*/
    /*background-color: cornflowerblue;*/
/*}*/